
<div class="row">
    <div class="col-8">
        <h1>Тест - @Model.Testing.Name</h1>
    </div>
    <div class="col-4">
        <button class="btn btn-success mt-2 mb-5" >Почати тестування</button>
    </div>
</div>


@{

    int i = 0;
    foreach (var tests in @Model.Tests)
    {
        i++;
        <br>
        <ul class="list-group">
            <div class="col-auto mr-auto">
                <h3><p class="ml-5">Запитання : @i</p></h3>
            </div>



            <li class="list-group-item" style="background:lightgrey"><font size="5">@tests.ques</font></li>

            @foreach (var ans in @Model.Answers)
            {
                @if (ans.testID == tests.id)
                {
                    <li class="list-group-item "><b><span>@ans.answer</span></b></li>
                }
            }

        </ul>


    }
}
