@model WebAppTesting.ViewModels.ProfileInfoViewModel


<h1>Ваш кабінет</h1>


<form id="profileFormId">
    <input asp-for="Profile.Id" hidden="hidden" />
    <p class="mt-5"><b>Ваше ID</b> - @Model.Profile.Id</p>
    <p class="mt-1"><b>Ваше ім'я</b> - @Model.Profile.UserName</p>
    <div class="mb-3">
        <label class="form-label "><b>Вік</b></label>
        <input type="text" class="form-control" asp-for="Profile.Age">
        <div class="form-text">Вік повинен бути 0-100.</div>
    </div>
    <div class="mb-3">
        <label class="form-label "><b>Адрес</b></label>
        <input class="form-control" asp-for="Profile.Address" rows="3">
        <div class="form-text">Довжина адреси повинна бути від 5 до 200  символів.</div>
    </div>
    <div class="card-buttons-group">
        <button class='btn btn-primary' id='saveProfileId'>Зберегти</button>
    </div>
</form>

<div class="row mt-5">
    <br>
    <div class="col">
        <h3>Останні пройдені</h3>

        <div class="card text-center mb-3">
            <div class="card-body">
                <h4 class="card-title">Тест - </h4>

                <a href="" class="btn btn-secondary">Переглянути</a>
            </div>
            <div class="card-footer text-muted">
                Пройдено:
            </div>
        </div>


    </div>
    <div class="col">
        <h3>Останні створені</h3>
        @foreach (var testing in @Model.Testings)
        {
            <div class="card text-center mb-3">
                <div class="card-body">
                    <h4 class="card-title">Тест - @testing.Name</h4>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-6 col-sm-3">
                                <a href="" class="btn btn-info">Редагувати</a>
                            </div>
                            <div class="col-6 col-sm-3">
                                <form asp-controller="Profile" asp-action="DeleteTesting" asp-route-testingId="@testing.Id" asp-route-userId="@Model.Profile.Id" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        Видалити
                                    </button>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                            <div class="card-footer text-muted">
                                Створено: @testing.Date
                            </div>
                        </div>
                        }
                    </div>
                </div>




@section pageScripts{
    <script>
        $('#saveProfileId').on('click', function (e) {
            e.preventDefault();
            const data = $('#profileFormId').serialize()
            $.ajax({
                url: '@Url.Action("Save", "Profile")',
                type: 'POST',
                data: data,
                success: function (errors) {
                    Swal.fire({
                        title: 'Інформація',
                        text: errors,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (data) {
                    Swal.fire({
                        title: 'Інформація',
                        text: 'Помилка Валідації',
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            });
        });

    </script>

}